openapi: 3.0.3
info:
  title: Payviox API
  description: Payment processing API
  version: 1.0.0
servers:
  - url: https://api.payviox.com
security:
  - bearerAuth: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  schemas:
    Item:
      type: object
      required:
        - name
        - quantity
        - price
      properties:
        name:
          type: string
          description: Name of the item
        quantity:
          type: integer
          minimum: 1
          description: Quantity of the item
        price:
          type: integer
          minimum: 1
          description: Price per unit in cents
    CreateSessionRequest:
      type: object
      required:
        - amount
        - currency
        - customer
        - order_id
        - items
      properties:
        amount:
          type: integer
          minimum: 100
          description: Payment amount in cents (e.g., 10000 = $100.00)
        currency:
          type: string
          maxLength: 3
          description: Three-letter ISO currency code (e.g., USD)
        customer:
          type: string
          description: Customer identifier (email, customer ID, or unique identifier)
        order_id:
          type: string
          description: Your unique order identifier
        items:
          type: array
          items:
            $ref: '#/components/schemas/Item'
          description: Array of items being purchased
        description:
          type: string
          description: Optional description of the payment
        paymentMethodId:
          type: string
          description: Force a specific payment method (optional)
        ip:
          type: string
          description: Server-side only. The end-user's IP address
        metadata:
          type: object
          description: Custom key-value pairs to attach to this session. These will be returned in webhook notifications.
          additionalProperties: true
          example:
            user_id: "usr_123"
            plan: "premium"
    CreateSessionResponse:
      type: object
      properties:
        session_id:
          type: string
          description: Unique identifier for the created session
    GetBalanceResponse:
      type: object
      properties:
        balance:
          type: integer
          description: Current business balance in cents (e.g., 1500000 = $15,000.00)
        payout_balance:
          type: integer
          description: Current payout balance in cents (e.g., 500000 = $5,000.00)
    PaymentMethod:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        type:
          type: string
    CustomerDetails:
      type: object
      properties:
        name:
          type: string
          description: Customer's billing name
        email:
          type: string
          description: Customer's email address
        phone:
          type: string
          description: Customer's phone number
        address:
          type: object
          properties:
            line1:
              type: string
            line2:
              type: string
            city:
              type: string
            state:
              type: string
            postal_code:
              type: string
            country:
              type: string
    PaymentDetails:
      type: object
      properties:
        type:
          type: string
          description: Payment method type (e.g., card, bancontact, ideal)
        card:
          type: object
          description: Card details (only present when type is card)
          properties:
            brand:
              type: string
            last4:
              type: string
            exp_month:
              type: string
            exp_year:
              type: string
            country:
              type: string
    GetPaymentDetailsResponse:
      type: object
      properties:
        session_id:
          type: string
          description: Unique identifier for the payment session
        status:
          type: string
          nullable: true
          description: Current payment status
        amount:
          type: integer
          description: Gross amount in cents (what the customer pays)
        fees:
          type: integer
          nullable: true
          description: Total fees in cents (null if payment not completed)
        net_amount:
          type: integer
          nullable: true
          description: Net amount in cents (amount - fees, null if payment not completed)
        currency:
          type: string
          description: Three-letter ISO currency code
        order_id:
          type: string
          description: Your unique order identifier
        customer:
          type: string
          description: Customer identifier
        description:
          type: string
          nullable: true
          description: Payment description
        items:
          type: array
          items:
            $ref: '#/components/schemas/Item'
          description: Array of items from the original session
        metadata:
          type: object
          additionalProperties: true
          description: Custom key-value pairs attached to this session
        payment_method:
          type: string
          nullable: true
          description: Payment method identifier (e.g., stripe_credit, paypal)
        provider:
          type: string
          nullable: true
          description: Payment provider used (e.g., stripe, paypal)
        created_at:
          type: string
          format: date-time
          description: ISO 8601 timestamp of session creation
        customer_details:
          nullable: true
          allOf:
            - $ref: '#/components/schemas/CustomerDetails'
          description: Customer billing information (null if payment not completed)
        payment_details:
          nullable: true
          allOf:
            - $ref: '#/components/schemas/PaymentDetails'
          description: Payment method details (null if payment not completed)
        ip:
          type: string
          nullable: true
          description: End-user's IP address
        country:
          type: string
          nullable: true
          description: Two-letter country code from IP geolocation
        user_agent:
          type: string
          nullable: true
          description: End-user's browser User-Agent string
paths:
  /session:
    post:
      operationId: createSession
      summary: Create Session
      description: Create a new payment session
      tags:
        - Sessions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSessionRequest'
            example:
              amount: 10000
              currency: USD
              customer: customer_abc123
              order_id: order_12345
              description: Premium subscription
              metadata:
                user_id: "usr_123"
                plan: "premium"
              items:
                - name: Premium Plan
                  quantity: 1
                  price: 10000
      responses:
        '201':
          description: Session created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateSessionResponse'
              example:
                session_id: a1b2c3d4e5f6g7h8i9j0k1l2m3n4o5p6
        '400':
          description: Bad request
        '401':
          description: Unauthorized
  /balance:
    get:
      operationId: getBalance
      summary: Get Balance
      description: Retrieve your current business balance
      tags:
        - Business
      responses:
        '200':
          description: Balance retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBalanceResponse'
              example:
                balance: 1500000
                payout_balance: 500000
        '401':
          description: Unauthorized
  /payment/{session_id}:
    get:
      operationId: getPaymentDetails
      summary: Get Payment Details
      description: Retrieve detailed information about a specific payment
      tags:
        - Payments
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            type: string
          description: The session ID returned when you created the payment session
      responses:
        '200':
          description: Payment details retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPaymentDetailsResponse'
              example:
                session_id: a1b2c3d4e5f6g7h8i9j0k1l2m3n4o5p6
                status: succeeded
                amount: 10250
                fees: 250
                net_amount: 10000
                currency: USD
                order_id: order_12345
                customer: customer_abc123
                description: Premium subscription
                items:
                  - name: Premium Plan
                    quantity: 1
                    price: 10000
                metadata:
                  user_id: "usr_123"
                payment_method: stripe_credit
                provider: stripe
                created_at: "2026-05-04T10:30:00.000000Z"
                customer_details:
                  name: John Doe
                  email: john@example.com
                  phone: "+33612345678"
                  address:
                    line1: 123 Main St
                    city: Paris
                    postal_code: "75001"
                    country: FR
                payment_details:
                  type: card
                  card:
                    brand: visa
                    last4: "4242"
                    exp_month: "12"
                    exp_year: "2028"
                    country: FR
                ip: "203.0.113.42"
                country: FR
        '401':
          description: Unauthorized
        '404':
          description: Payment not found
  /session/{session_id}/payments:
    get:
      operationId: getPaymentMethods
      summary: Get Payment Methods
      description: Get available payment methods for a session
      tags:
        - Sessions
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            type: string
          description: The session ID
      responses:
        '200':
          description: Payment methods retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PaymentMethod'
        '401':
          description: Unauthorized
        '404':
          description: Session not found


